DirectoryIndex index.html index.htm
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redireciona /transparencia para /transparencia/
    RewriteRule ^transparencia$ transparencia/ [R=301,L]
</IfModule>

# Cache de arquivos estáticos
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/png  "access plus 1 month"
    ExpiresByType text/css   "access plus 1 week"
    ExpiresByType text/javascript "access plus 1 week"
    ExpiresByType video/mp4  "access plus 1 month"
</IfModule>
